body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#inputCheckbox{
    zoom: 10;
    cursor: pointer;
}
.inputDesligado {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 1px solid rgb(77, 76, 76);
    background-color: rgb(255, 108, 108);
    transition: 0.5s;
}

.inputDesligado div {
    position: absolute;
    margin: 0px 5px;
    height: 25px;
    width: 25px;
    border-radius: 14px;
    background: rgb(199, 22, 22);
    box-shadow: 0px 0px 5px rgb(250, 146, 146);
    left: -3px;
    animation: inputDivDesligado .5s normal;
    transition: 1s;
    z-index: 1;
}

.inputLigado {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 1px solid rgb(77, 76, 76);
    background-color: #6eff75;
    transition: 0.5s;
}

.inputLigado div {
    position: absolute;
    margin: 0px 5px;
    height: 25px;
    width: 25px;
    border-radius: 14px;
    background-color: #37752f;
    box-shadow: 0px 0px 5px rgb(185, 248, 179);
    align-self: flex-end;
    left: 28px;
    animation: inputDivLigado .5s normal;
    transition: 1s;
    z-index: 1;
}

.inputLigado span, .inputDesligado span {
    position: absolute;
    font-size: 1rem;
    font-family: 'Bebas Neue', cursive;
}

.inputLigado span {
    left: 10px;
    transition: 1s;
    color: #37752f;
}
.inputDesligado span {
    left: 30px;
    transition: 1s;
    color: rgb(199, 22, 22);
}

@keyframes inputDivLigado {
    0% {
        width: 25px;
    }
    33% {
        width: 30px;
    }
    66% {
        width: 30px;
    }
    100% {
        width: 25px;
    }
}

@keyframes inputDivDesligado {
    0% {
        width: 25px;
    }
    33% {
        width: 30px;
    }
    66% {
        width: 30px;
    }
    100% {
        width: 25px;
    }
}